/3_1_1_dereviya_reshenii_klassifikaciya.py
/3_1_2_derevya_resheniy.py
/3_1_3_derevo_koshki_i_sobaki.py
/3_1_base_algorythm_ML.py
/main.py
/geckodriver.log
/model.pkl
/pars_vedomosti.xlsx
/test.html
/xtest.pkl
/xtrain.pkl
/venv